@use "sass:math";
@use "./layout.scss";

$hamburger-menu-collapsed-size: 30pt;
$hamburger-menu-icon-size-factor: 0.65;
$hamburger-menu-padding-size: $hamburger-menu-collapsed-size * (1 - $hamburger-menu-icon-size-factor) / 2;
$hamburger-menu-item-font-size: 12pt;
$hamburger-menu-item-icon-size: 18pt;
$hamburger-menu-transition-time: 0.06s;

.pb-hamburger-menu {
    @include layout.pb-flex-container-vertical;
    user-select: none;
    overflow: hidden;
    font-weight: 600;

    transition: width $hamburger-menu-transition-time ease-in-out,
        height $hamburger-menu-transition-time ease-in-out;
}

.pb-hamburger-menu-icon {
    font-size: $hamburger-menu-collapsed-size * $hamburger-menu-icon-size-factor;
    padding-top: $hamburger-menu-padding-size;
    padding-left: $hamburger-menu-padding-size * 0.9;
    padding-bottom: $hamburger-menu-padding-size;

    transition: opacity $hamburger-menu-transition-time ease-in-out;
}

.pb-hamburger-menu-icon-close {
    margin-top: -$hamburger-menu-collapsed-size;
}

.pb-hamburger-menu-item {
    @include layout.pb-flex-container-horizontal;
    align-items: center;
    padding-left: $hamburger-menu-padding-size;
    padding-right: $hamburger-menu-padding-size;
    padding-top: $hamburger-menu-padding-size;
    padding-bottom: $hamburger-menu-padding-size;
    font-size: $hamburger-menu-item-font-size;
}

.pb-hamburger-menu-item-icon {
    font-size: $hamburger-menu-item-icon-size;
}

.pb-hamburger-menu-item-text {
    margin-left: 4pt;
}

:export {
    hamburgerMenuPaddingSize: $hamburger-menu-padding-size / 1pt;

    hamburgerMenuHeaderHeight: (
        $hamburger-menu-collapsed-size
    ) / 1pt;

    hamburgerMenuItemHeight: (
        max($hamburger-menu-item-font-size, $hamburger-menu-item-icon-size) + 2*$hamburger-menu-padding-size
    ) / 1pt;
}
