// Full size mixins and classes
// ------------------------------------------------------------------ //

@mixin pb-full-width {
    width: 100%;
}

.pb-full-width {
    @include pb-full-width;
}

@mixin pb-full-height {
    height: 100%;
}

.pb-full-height {
    @include pb-full-height;
}

@mixin pb-full-size {
    @include pb-full-width;
    @include pb-full-height;
}

.pb-full-size {
    @include pb-full-size;
}

// Flex mixins and classes
// ------------------------------------------------------------------ //

.pb-flex-container-center {
    justify-content: center;
}

.pb-flex-container-space-between {
    justify-content: space-between;
}

@mixin pb-flex-container {
    display: flex;
}

@mixin pb-flex-container-horizontal {
    @include pb-flex-container;
    flex-direction: row;
}

.pb-flex-container-horizontal {
    @include pb-flex-container-horizontal;
}

@mixin pb-flex-container-vertical {
    @include pb-flex-container;
    flex-direction: column;
}

.pb-flex-container-vertical {
    @include pb-flex-container-vertical;
}

@mixin pb-flex-item-expand {
    flex: 1 1 auto;
}

.pb-flex-item-expand {
    @include pb-flex-item-expand;
}
