.pb-bg-1 {
    background-color: #fefefe;
}

.pb-bg-2 {
    background-color: #eeeeee;
}

.pb-bg-3 {
    background-color: #dddddd;
}

.pb-bg-hi-1 {
    transition: 0.06s background-color ease-in-out;
}

.pb-bg-hi-1:hover {
    background-color: #f3cfeb;
    transition: 0.03s background-color ease-in-out;
}

.pb-bg-hi-1:active {
    background-color: #555555;
}
